.minHeight50 {
    min-height: 50px;
}

.buttonOffset15 {
    float: right;
    margin-right: 15%;
}

.width100 {
    width: 100% !important;
}

.botonCentrado {
    float: none;
    margin-top: 1em;
}

.mapa {
    width: 595px;
    height: 225px;
}