@{
    ViewBag.Title = "Infromacion";
}

<h2>@ViewBag.Message</h2>
<hr />
<p>
    El proyecto aplica sobre una situación cotidiana en la vida de la mayor parte de la población, que es viajar hacia y desde su lugar de trabajo. 
</p>
<p>
    La intención del proyecto es ayudar a que las personas obtengan una mejoría en sus viajes y reducir el impacto negativo ambiental que generan múltiples personas viajando sólos en su vehículo, generando el menor impacto posible en el viaje de todos los participantes.
</p>    
<p>
    Esto se lograría tornando más sencillo que diversos empleados, puedan conectar con desconocidos que trabajan en la misma sucursal, independiente de su rol y cargo en la empresa, para coordinar sus viajes al lugar de trabajo.
</p>
<p>
    Los beneficios obtenidos por la organización y los empleados sin vehículo propio son una mayor estabilidad con respecto a la asistencia al trabajo de sus empleados, reduciendo en gran manera el impacto sobre la misma de existir un paro de transporte a nivel general, al mismo tiempo de generar un sentido de pertenencia a la empresa con la formación de grupos informales entre compañeros de trabajo que se trasladen juntos a la oficina.
</p>
